POSTGRES_URL="postgres://default:password@ep-host-1234.us-east-1.postgres.vercel-storage.com:5432/verceldb?sslmode=require"
POSTGRES_PRISMA_URL="postgres://default:password@ep-host-1234.us-east-1.postgres.vercel-storage.com:5432/verceldb?sslmode=require&pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NON_POOLING="postgres://default:password@ep-host-1234.us-east-1.postgres.vercel-storage.com:5432/verceldb?sslmode=require"
POSTGRES_USER="default"
POSTGRES_HOST="ep-host-1234.us-east-1.postgres.vercel-storage.com"
POSTGRES_PASSWORD="password"
POSTGRES_DATABASE="verceldb"
